@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);




#header1-k P {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 24px;
}
#header1-k H1 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .navbar-brand {
  font-family: 'Montserrat', sans-serif;
}
#menu-0 .nav-link {
  font-family: 'Montserrat', sans-serif;
}




#menu-6 .navbar-toggler {
  color: #000;
}
#menu-6 .navbar-brand {
  font-family: 'Montserrat', sans-serif;
}
#menu-6 .nav-link {
  font-family: 'Montserrat', sans-serif;
}
#header2-i H1 {
  font-family: 'Montserrat', sans-serif;
}
#header2-i P {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#content1-a DIV {
  text-align: left;
}


#menu-n .navbar-toggler {
  color: #000;
}
#menu-n .navbar-brand {
  font-family: 'Montserrat', sans-serif;
}
#menu-n .nav-link {
  font-family: 'Montserrat', sans-serif;
}


#menu-r .navbar-toggler {
  color: #000;
}
#menu-r .navbar-brand {
  font-family: 'Montserrat', sans-serif;
}
#menu-r .nav-link {
  font-family: 'Montserrat', sans-serif;
}


#menu-u .navbar-toggler {
  color: #000;
}
#menu-u .navbar-brand {
  font-family: 'Montserrat', sans-serif;
}
#menu-u .nav-link {
  font-family: 'Montserrat', sans-serif;
}


#menu-10 .navbar-toggler {
  color: #000;
}
#menu-10 .navbar-brand {
  font-family: 'Montserrat', sans-serif;
}
#menu-10 .nav-link {
  font-family: 'Montserrat', sans-serif;
}
